#color-controls{
    height: 144px;
    border: none;
    overflow: hidden;
  }
  #color-controls::-moz-focus-inner {
    border: 0;
  }
  #color-controls:focus {
    outline: none;
  }
  #color-controls option{
    width: 160px;
    font-size: 1.2em;
    padding: 40px 0;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    border:rgb(0, 0, 0) solid 1px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
  }